body {
    font-family: Arial, sans-serif;
    background-color: #cfd8e0;
    margin: 0;
    padding: 0;
}


p {
    font-family: 'Arial', Courier, monospace;
    color: rgb(0, 0, 0);

}


h1, h2 {
    color: skyblue;
    font-family: 'Georgia', serif;
    background-color: rgb(0, 0, 0);
}

img {
    margin: 10px;
    padding: 5px;
}

a {
    color: #593293;
}
